#App-header {
  margin-bottom: 5px;
  min-height: 30px;
}

#App-header .nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
}


#App-header .navbar-brand {
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}


