.attribute-chart .bar.foreground {
    fill: steelblue;
}

.attribute-chart .bar.background {
    fill: grey;
    fill-opacity: .5;
}

#attribute-explorer .dropdown {
    position: absolute;
    top: 5px;
    right: 5px;
}

.attribute-chart .axis line {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

.attribute-chart text {
    font-size: 10px;
}
.attribute-chart text.title {
    font-size: 12px;
    font-weight: bold;
}


.attribute-chart .slider .control {
    fill: purple;
    cursor: pointer;
}

.attribute-chart .slider .selected-area {
    fill: purple;
    fill-opacity: .3;
}

.attribute-chart .line {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

.attribute-heading {
    font-size: 14px;
    text-align: left;
}

.form-group {
    font-size: 12px;
    margin-bottom: 0;
}
.form-group .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.form-group .checkbox input[type="checkbox"] {
    margin-left: -16px;
    width: 1em;
    height: 1em;
}

.form-group input[type="radio"] {
    margin-left: -14px;
    width: 1em;
    height: 1em;
}

.attribute-section-divider {
    clear: both;
    width: 95%;
    height: 15px;
}
