.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dataset-item {
    flex: 0 0 auto;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2), 0 2px 6px rgba(16, 22, 26, 0.2);
}

#outgroup-sel {
    display: flex;
}

#outgroup-sel-taxa-list {
    flex: 0 0 300px;
    margin: 0 10px;
    border-right: 1px solid grey;
}
#outgroup-sel-dendrogram {
    flex: 1 0 auto;
    margin: 0 10px;
    border-right: 1px solid grey;
}
#outgroup-sel-file {
    flex: 0 0 200px;
    margin: 0 10px;
}