.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dataset-item {
    flex: 0 0 auto;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2), 0 2px 6px rgba(16, 22, 26, 0.2);

    position: relative;
}
.dataset-item .timestamp {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
    text-align: right;
}

.dataset-item .del-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    color: grey;
    cursor: pointer;
}

.dataset-item .description {
    overflow: scroll;
    max-height: 120px;
    white-space: pre-line;
}
