.cluster-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
}
.individual-container {
    /*height: 100%;*/
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.agg-dendro-box {
    flex: 0 0 auto;
    margin: 3px;
    position: relative;
}
.agg-dendro-box.hovered {
    border: 2px solid #000;
}


.block {
    fill: #fff;
    stroke-width: 1px;
    stroke: #888;
}
.block.fuzzy {
    stroke-width: 1px;
    stroke: #888;
    stroke-dasharray: 3 3;
}
.block.is-missing {
    stroke-dasharray: 6 2;
}
.block.expanded {
    stroke-width: 2px;
    /*stroke: #e41a1c;*/
    stroke: black;
}
.respond-box {
    opacity: 0;
    stroke: none;
}
.highlight-block {
    /*fill-opacity: .3;*/
}
.highlight-block.fuzzy {
    fill: none;
}

.branch {
    /*stroke-width: 2px;*/
    /*stroke: #e41a1c;*/
    stroke-width: 1px;
    stroke: black;
}
.branch.range-selected {
    stroke-width: 5px;
    stroke: #984ea3 !important;
}
/*.branch.background {*/
    /*stroke-width: 1px;*/
    /*stroke: black;*/
/*}*/
.branch.collapsed {
    stroke-dasharray: 1 1;
}

.label {
    font-size: 10px;
    text-anchor: start;
}
.tooltip .tooltip-inner{
    max-width: 400px;
}

.tools {
    position: absolute;
    right: 10px;
    top: 0;
}

#set-tab .nav>li>a {
    padding: 5px 15px;
}


.proportion .total {
    stroke: grey;
    stroke-width: 1px;
    fill: none;
}

.proportion .num {
    stroke: none;
    fill: grey;
    fill-opacity: .5;
}

.proportion .selected {
    stroke: none;
    /*fill-opacity: .6;*/
}

.proportion .hovered {
    stroke: #000;
    stroke-width: 2px;
    fill: none;
}

.proportion text {
    font-size: 10px;
}

.btn .glyph-text {
    margin-left: 2px;
}


rect.selected-tree-indicator {
    fill-opacity: .6;
}


.partition-distribution {
    width: 100%;
    height: 20px;
    /*border: 1px solid black;*/
    border: none;
}

.partition-distribution div {
    height: 100%;
    float: left;
    border: 1px solid grey;
    border-right: none;
    cursor: pointer;
}
.partition-distribution div:last-child {
    border-right: 1px solid grey;
}

#ad-params .param-label {
    vertical-align: middle;
}

#ad-params .slider {
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    margin: 2px 10px 2px 5px;
}

#aggregated-dendrograms .glyphicon.glyphicon-exclamation-sign {
    margin-left: 5px;
    color: red;
    font-size: 14px;
}

.individual-container .glyphicon.glyphicon-exclamation-sign {
    margin: 5px;
}