.dot {
    fill: grey
}

.dot.selected {
    stroke: #e41a1c;
    /*stroke-dasharray: 1,1;*/
    stroke-width: 2px;
}
.dot.highlight {
    stroke: #e41a1c;
    stroke-width: 2px;
}

.selecting-box {
    fill: steelblue;
    fill-opacity: .3;
}