.dot {
    fill: grey
}

.dot.selected {
    stroke: red;
    stroke-width: 1px;
}
.dot.highlight {
    stroke: red;
    stroke-width: 2px;
}

.selecting-box {
    fill: steelblue;
    fill-opacity: .3;
}