.dot {
    fill: grey;
    fill-opacity: .8;
}

.dot.hovered {
    stroke: #000;
    stroke-width: 2px;
}
.dot.selected {
    /*fill: #8a6c66 !important;*/
    fill-opacity: 1;
}

.selecting-box {
    fill: steelblue;
    fill-opacity: .3;
}
