.branch-line {
    stroke-width: 1;
    stroke: black;
}
.branch-line.range-selected {
    stroke-width: 3;
    stroke: #984ea3;
}
.branch-line.selected {
    stroke-width: 3;
    stroke: #e41a1c;
}

.entity-name {
    font-size: 8px;
}
.entity-name.highlighted {
    fill: blue;
}
.entity-name.uncertain-highlighted {
    fill: #4daf4a;
}

.box {
    fill: grey;
    fill-opacity: 0;
    cursor: pointer;
}
.box.selected {
    fill: steelblue;
    fill-opacity: .5;
}

.hover-box {
    fill: steelblue;
    fill-opacity: .3;
}

circle.metric-branch-indicator {
    fill: grey;
}
line.last-selected-indicator {
    stroke: steelblue;
    stroke-width: 3px;
}


.branch-stats rect {
    fill: black;
    fill-opacity: .5;
}
.branch-stats text {
    font-size: 12px;
    fill: #fff;
}
.branch-stats .attribute-chart .bars rect.bar {
    fill: #fff;
}