.branch-line {
    stroke-width: 1;
    stroke: black;
}
.branch-line.selected {
    stroke-width: 3;
    stroke: red;
}
.branch-line.range-selected {
    stroke-width: 3;
    stroke: purple;
}

.entity-name {
    font-size: 8px;
}

.box {
    fill: grey;
    fill-opacity: 0;
    cursor: pointer;
}
.box.selected {
    fill: steelblue;
    fill-opacity: .5;
}

.hover-box {
    fill: steelblue;
    fill-opacity: .3;
}

circle.metric-branch-indicator {
    fill: grey;
}