.branch-line {
    stroke-width: 1;
    stroke: black;
}
.branch-line.selected {
    stroke-width: 3;
    stroke: red;
}

.entity-name {
    font-size: 8px;
}

.box {
    fill: grey;
    fill-opacity: 0;
}

.hover-box {
    fill: steelblue;
    fill-opacity: .3;
}