.mainview-container {
    width: 100%;
    /*min-height: 800px;*/
    /*max-height: 940px;*/
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.left-column {
    flex: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.right-column {
    flex: auto;
    margin: 0 5px;
    height: 100%;

    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.chapter-title {
    flex: 0 0 auto;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.views-column {
    /*height: 100%;*/

    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.panel {
    margin-bottom: 10px;
}

.panel-collapsed .panel-body {
    display: none !important;
}
.panel-collapsed .panel-footer {
    display: none !important;
}

.panel .panel-heading {
    padding: 5px 8px;
    font-size: 14px;
}

.panel .panel-body {
    padding: 5px;
}

.panel .panel-footer {
    padding: 5px;
    font-size: 12px;
}
.panel .table {
    font-size: 12px;
}

.view {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}
.view .view-header {
    flex: 0 0 auto;
    text-wrap: none;
}
.view-header .close-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 16px;
    z-index: 1000;
    cursor: pointer;
}

.view .view-title {
}
.view .view-body {
    flex: 1 1 auto;
    font-size: 12px;
    overflow-y: scroll;
    /*height: 85%;*/
}
.view .view-footer {
    flex: 0 0 auto;
}

#overview {
    flex: 0 0 auto;
}

#attribute-explorer {
    flex: 1 1 content;
    /*min-height: 350px;*/
}

#taxa-list {
    width: 200px;
    z-index: 600;
}

#reference-tree-attribute-explorer {
    min-width: 300px;
    z-index: 500;
}

#tree-list {
    flex: 0 0 auto;
    max-height: 250px;
}

#reference-tree {
    margin-bottom: 0;
    position: relative;
}

#aggregated-dendrograms {
    flex: 1 1 auto;
    min-height: 200px;
    margin-bottom: 0;
}
#tree-distribution {
    flex: 0 0 auto;
}
#bip-distribution {
    flex: 0 0 auto;
}

.inspector-window {
    width: 90%;
    height: 90%;
}

.inspector-window .close-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
}

.inspector-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}



.toast {
    visibility: hidden;
    width: 400px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    top: 60px;
    z-index: 1000;

    text-align: center;
    border-radius: 2px;
    color: #fff;
    background-color: #333;
    padding: 15px;
}
.toast.show {
    visibility: visible;
}


.panel-collapsed .table {
    display: none !important;
}

.legend {
    font-size: 10px;
    display: flex;
    flex-flow: row wrap;
}
.legend .legend-item {
    flex: 0 0 auto;
    margin: 0 5px;
}
.legend .legend-section-title {
    flex: 0 0 55px;
    text-align: left;
}

.legend .legend-item .mark {
    display: inline-block;
    margin: 0 2px;
    padding: 0;
    background: none;
    vertical-align: middle;
}
