.view-area {
    margin-bottom: 10px;
}

.show-bg {
    background: grey;
}
.overview {
    height: 250px;
}

.filter {
    height: 200px;
}

.tree-list {
    height: 200px;
}

.agg-dendro {
    height: 600px;
}

.full-dendro {
    width: 100%;
    height: 900px;
}
