.mainview-container {
    width: 100%;
    /*min-height: 800px;*/
    /*max-height: 940px;*/
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.left-column {
    flex: 0 0 auto;
    width: 200px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5px;
}
.right-column {
    flex: 1 1 auto;
    margin: 0 5px;
    height: 100%;
    max-height: 100%;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5px;
}
.middle-column {
    flex: 0 0 auto;
    height: 100%;
}


.panel {
    margin-bottom: 10px;
}

.panel-collapsed .panel-body {
    display: none !important;
}
.panel-collapsed .panel-footer {
    display: none !important;
}

.panel .panel-heading {
    padding: 5px 8px;
    font-size: 14px;
}

.panel .panel-body {
    padding: 5px;
}

.panel .panel-footer {
    padding: 5px;
    font-size: 12px;
}
.panel .table {
    font-size: 12px;
}

.view {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    /*border: 1px solid grey;*/
    /*border-radius:4px;*/
    /*background-color: #fff;*/
}
.view .view-header {
    flex: 0 0 auto;
    /*background-color: #ddd;*/
    /*border-top-left-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
    /*border-bottom: 1px solid transparent;*/
    text-wrap: none;
}

.view .view-title {
    /*font-size: 18px;*/
    /*text-align: left;*/
    /*font-weight: bold;*/
}
.view .view-body {
    flex: 1 0 content;
    font-size: 12px;
    overflow-y: scroll;
    /*height: 85%;*/
}
.view .view-footer {
    /*flex: 0 0 auto;*/
}

#overview {
    flex: 0 0 auto;
}

#attribute-explorer {
    flex: 1 1 content;
    /*min-height: 350px;*/
}

#taxa-list {
    flex: 0 0 auto;
    max-height: 250px;
}

#tree-list {
    flex: 0 0 auto;
    max-height: 250px;
}

#reference-tree {
    margin-bottom: 0;
}

#aggregated-dendrograms {
    flex: 1 1 auto;
    height: 100px;
}
#tree-distribution {
    flex: 0 0 auto;
}
#bip-distribution {
    flex: 0 0 auto;
}

.inspector-window {
    width: 90%;
    height: 90%;
}

.inspector-window .close-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
}

.inspector-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}



.toast {
    visibility: hidden;
    width: 400px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    top: 60px;
    z-index: 1000;

    text-align: center;
    border-radius: 2px;
    color: #fff;
    background-color: #333;
    padding: 15px;
}
.toast.show {
    visibility: visible;
}


.legends {
    font-size: 10px;
}
