#tree-list .list {
    height: 100%;
}
.list-item {
    padding: 0 3px;
    font-size: 10px;
    margin: 1px 0;
}

.tree-name {
}

.color-block {
    float: left;
    width: 8px;
    height: 8px;
    margin: 3px 3px 0 0;
}

.tree-name.current-set {
    background: #ddd;
}

.tree-name.selected {
    border: 1px solid red;
}

#tree-list .legends {
    font-size: 10px;
}
